*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100%;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.header{
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    position: fixed;
}

.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: teal;
    z-index: 2;
}

.header__logo{
    padding: 0 0 0 15px;
    position: relative;
    z-index: 3;
}

.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__list{
    display: flex;
    margin-right: 15px;
    position: relative;
    z-index: 2;  
}

.header__list li{
    list-style: none;
    margin: 0 0 0 20px;
}

.header__link{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

.content{
    padding:100px 0 15px 15px;
}

.content__text{
    font-size: 18px;
    line-height: 25px;
}

.content__text p{
    margin: 0 0 20px 0;
}

.header__burger{
    display: none;
}

@media (max-width: 767px){
    body.lock{
        overflow: hidden;
    }
    .content{
        padding:60px 0 15px 15px;
    }
    .header__body{
        height: 50px;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #333333;
        padding: 70px 10px 20px 10px;
        transition: all .3s ease 0s;
    }
    .header__menu.active{
        top: 0;
    }
    .header__burger{
        margin-right: 15px;
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;  
    }
    .header__burger span{
        position: absolute;
        background-color: white;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;      
        transition: all .3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s ease 0s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__list{
        display: block;
    }
    .header__list li{
        margin: 0 0 20px 0;
    }
    .header__link {
        font-size: 26px;
    }
}